@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	font-family: "Kanit", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	width: 0;
	height: 0;
}